/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4fb;
}

h2 {
  font-size: 18px;
  padding: 15px 0;
}

h2 > span {
  font-size: 14px;
}
  