header {
	background-color: red;
	color: #fff;
	padding: 1rem;
}

header:hover {
	background-color: #fff;
	color: black;
	padding: 2rem;
}

header:hover > p{
	float: right;
}
/*
header {
	background-color: red;
	color: #fff;
	padding: 20px;
}

header:hover {
	background-color: #fff;
	color: red;
	padding: 30px;
}

header:hover > p{
	float: right;
}
*/