html {
    /*scroll*/
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

*{
    transition: 1s;
}

.profile{
    float: right;
    margin: 1rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    border: solid 1px #ddd;
}
.profile:hover{
    background-color: #111;
    padding: 1rem;
    color: #eee;
    border-radius: 10px;
}

.profile > img{
    float: right;
    height: 100px;
    width: 100px;
}