html {
    /*scroll*/
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

*{
    transition: 1s;
}

.profile{
    float: left;
    margin: 1rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 1rem;
    width: 18rem;
    border: solid 1px #ddd;
    height: 7rem;
}
.profile:hover{
    background-color: #333;
    border: solid 1px #333;
    padding: 2rem;
    color: #eee;
    height: 16rem;
}

.profile > img{
    float: right;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.profile:hover > img{
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
}

