main{
    min-height: 100%;
    padding: 6rem 1rem 2rem 14rem;
    color: #201f2b;
  }
  
main{
display: grid;
grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr; 
grid-template-rows: auto;
gap: 1rem;
grid-template-areas: 
"total1 total2 total3 total4 total4"
"detail detail detail ranking ranking"
"detail detail detail ranking ranking";
}

.card{
background-color: #eee;
padding: 1rem;
border-radius: 10px;
}

.detail{
grid-area: detail;
overflow-x: auto;
}

.ranking{
grid-area: ranking;
overflow-x: auto;
}

.info{
display: grid;
grid-auto-flow: column;
justify-items: space-between;
align-items: center;
}

.info-detail h2 {
font-size: 24px;
}

.info-detail p {
font-size: 14px;
}

.info-image{
font-size: 50px;
color: #2d2b98;
}

.detail-header{
display: grid;
grid-auto-flow: column;
justify-items: space-between;
align-items: center;  
}

.detail-header button{
height: 30px;
width: 120px;
border: 1px solid #2d2b98;
background-color: #2d2b98;
color:#f2f2f2;
border-radius: 5px;
cursor: pointer;
transition: all 0.2s ease-in;
}

.detail-header button:hover{
background-color: transparent;
color: #2d2b98;
}

.detail table{
width: 100%;
border-collapse: collapse;
}

.detail table tr:nth-child(odd){
background-color: #f8f8fb;
}

.detail table tr{
background-color: #f4f4fb;
}

.detail table th, 
.detail table td{
padding: 0.8rem 0.2rem;
text-align: left;
min-width: 120px;
font-size: 14px;
}

.detail table tr:hover{
background-color: #f2f2f2;
border-bottom: 2px solid #2d2d98;
}

.detail table tr td:nth-child(2), .detail table tr td:nth-child(3){
min-width: 150px;
}

.status {
padding: 0.3rem 1rem;
border-radius: 30px;
font-weight: 600;
letter-spacing: 1;
font-size: 0.7rem;
}

.onprogress{
background-color: #fff2d7;
color: #ffa705;
}

.confirmed{
background-color: #d7effc;
color: #15a1fe;
}

.fulfilled{
background-color: #dcedde;
color: #37aa38;
}

.customer-wrapper {
display: grid;
grid-template-columns: 0.3fr 1fr 0.4fr;
grid-auto-flow: column;
margin: 10px 0;
min-width: 230px;
align-items: flex-start;
gap: 5px;
}

.customer-image {
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
}

.customer-name > p, 
.customer-date{
font-size: 0.9rem;
}

.customer-date{
    text-align: right;
    color: #9092a9;
}
