/* Main content */
main {
    min-height: 100%;
    padding: 6rem 1rem 2rem 14rem;
    color: #201f2b;
    transition: 0.3s;
    
  }
  
/* Dashboard container */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "total1 total2 total3 total4"
    "detail detail detail customer"
    "detail detail detail customer";
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.total1, .total2, .total3, .total4 {
  background-color: #ff0000;
  color: #fff;
  transition: all 1s ease-in;
}

.total1:hover, .total2:hover, .total3:hover, .total4:hover {
  background-color: #fff;
  color: #ff0000;
  border: 1px solid #ff0000;
}


/* contact */
.contact-container {
  max-width: 600px;
  margin: 1rem auto;
}

.contact-container form {
  display: grid;
  gap: 10px;
}

.contact-container form label {
  font-size: 0.9rem;
}

.contact-container form input,
.contact-container form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-container form button {
  width: 100px;
  padding: 0.5rem;
  border: none;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-container form button:hover {
  background-color: #e60000;
}

.contact-info {
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* param */
.settings-container {
  max-width: 600px;
  margin: 0 auto;
}

.settings-container form {
  display: grid;
  gap: 10px;
}

.settings-container form label {
  font-size: 0.9rem;
}

.settings-container form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.settings-container form button {
  width: 100px;
  padding: 0.5rem;
  border: none;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings-container form button:hover {
  background-color: #e60000;
}