/* Responsiveness */
@media screen and (max-width: 1070px) {
  .dashboard-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "total1 total2"
      "total3 total4"
      "detail detail"
      "customer customer";
  }
}

@media screen and (max-width: 630px) {
  .profile-name {
    display: none;
  }

  .nav {   
    transition: 0.3s;
    display: none;
  }

  main {
    padding: 6rem 2rem 2rem 2rem;
  }

  #toggle:checked ~ .nav {
    width: 70px;
    display: block;
    transition: 0.3s;
  }

  #toggle:checked ~ .nav .nav-menu > p {
    display: block;
  }

  #toggle:checked ~ main {
    padding: 6rem 2rem 2rem 2rem;
  }

  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "total1"
      "total2"
      "total3"
      "total4"
      "detail"
      "customer";
  }

  .detail table {
    font-size: 0.9rem;
  }
}
